.cat-card {
  position: relative;
  background-color: transparent;
  border-radius: 8px;
  isolation: isolate;
  height: 350px;
  /* background: #000; */
}

.cat-card::before {
  content: "";
  height: 70%;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 8px;
  position: absolute;
  z-index: -2;
  bottom: 0;
}

/* Circular drop shadow below image */
.cat-card::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 30px;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  border-radius: 50%;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.cat-card img {
  position: relative;
  z-index: 1;
}

.cat-image {
  transform: translateY(-52px);
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  /* Tablet styles */
  .cat-card::after {
    bottom: 85px;
  }
  .cat-card::before {
    height: 60%;
  }

  .cat-image {
    transform: translateY(-22px);
  }
}

@media screen and (min-width: 1024px) {
  /* Desktop styles */
  .cat-card::before {
    height: 60%;
  }

  .cat-card::after {
    bottom: 115px;
  }

  .cat-image {
    transform: translateY(-52px);
  }
}
