.featured {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .featured {
    margin-bottom: 32px;
  }
}

@media (min-width: 1024px) {
  .featured {
    margin-bottom: 48px;
  }
}

.container {
  position: relative;
  isolation: isolate;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/assets/home/mobile/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

@media (min-width: 768px) {
  .container::before {
    background-image: url("/assets/home/tablet/image-speaker-zx7.jpg");
  }
}

@media (min-width: 1024px) {
  .container::before {
    background-image: url("/assets/home/desktop/image-speaker-zx7.jpg");
  }
}
