.hero {
  background-color: #000;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  min-height: 100vh;
}

.heroContent {
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/assets/home/mobile/image-header.jpg") no-repeat center
    center;
  background-size: cover;
  pointer-events: none;
  z-index: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .hero::before {
    background: url("/assets/home/tablet/image-header.jpg") no-repeat center
      center;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .hero::before {
    background: url("/assets/home/desktop/image-hero.jpg") no-repeat center
      center;
    background-size: cover;
  }
}
