@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-error: #cd2c2c;

  --color-primary: #d87d4a;
  --color-secondary: #fbaf85;
  --color-dark: #101010;
  --color-light: #f1f1f1;
  --color-lighter: #fafafa;

  --header-height: 76px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.container-p {
  @apply px-6 md:px-[39px] lg:px-[165px];
}

/* H1 - Manrope Bold - 56px (desktop), 36px (mobile) */
h1,
.h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.29px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
  }
}

/* H2 - Manrope Bold - 40px */
h2,
.h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* H3 - Manrope Bold - 32px */
h3,
.h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

/* H4 - Manrope Bold - 28px */
h4,
.h4 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* H5 - Manrope Bold - 24px */
h5,
.h5 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

/* H6 - Manrope Bold - 18px */
h6,
.h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

/* Body - Manrope Medium - 15px */
body,
p,
.body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

/* Overline - Manrope Regular - 14px */
.overlined {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* Sub Title - Manrope Bold - 13px */
.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button {
  @apply cursor-pointer uppercase font-bold duration-300 ease-in-out transition-all;
}

.primary {
  @apply bg-primary text-white  hover:bg-secondary;
}

button.outlined {
  @apply bg-white border border-black text-black hover:text-white hover:bg-black;
}

button.text-icon {
  @apply w-[57.32px] h-[18px] text-[13px] flex justify-between items-center text-black/50 hover:text-primary;
}

button#zx9 {
  @apply bg-black text-white  w-40 h-12 hover:bg-[#4C4C4C];
}
